body{
    border:2px; border-style:dotted;
    border-color: rgb(2, 2, 45);
}
.headers
{
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(5, 77, 81);
    color:white;
}
.table{
    border-style:double;
    border-width:9px;
}
.header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading1
{
    background-color:aquamarine ;
}
.row1{
    background-color: rgb(171, 136, 204);
    color:aliceblue;
}
.row2{
    background-color:aquamarine;
}
